AWS_REGION = <aws_region>
AWS_ACCESS_KEY = <aws_access_key>
AWS_SECRET_KEY = <aws_secret_key>
vpc_cidr = <vpc_cidr>
vpc_private_subnets = <vpc_private_subnets>
vpc_public_subnets = <vpc_public_subnets>
eks_node_min_size = <node_min_size>
eks_node_max_size = <node_max_size>
eks_node_desired_size = <node_desired_size>
eks_node_min_size_ng1 = <node_min_size>
eks_node_max_size_ng1 = <node_max_size>
eks_node_desired_size_ng1 = <node_desired_size>